body {
	background: rgba(0,0,0,.8);
}
nav{
	background-color: #808080;
}
a{
	background-color: rgba(137,14,14,1);
	color: white;
	padding: 10px;
	margin: 5px;
	display: block;
	float: left;
}
a:hover {
	color: green;
}
.clearfix:after{
	visibility: hidden;
	display: block;
	content: " ";
	clear: both;
	height: 0;
	font-size: 0;
}

h1 {
	font-size: 50px;
	font-family: 'Cabin Sketch', cursive, bold;
	letter-spacing: 2px;
	margin: 40px auto 5px auto;
	color: rgba(317,214,17,1);
	text-align: center;
	}

h3 {
	color: #ffffff;
	text-align: center;
}

h2 {
	color: white;
	}
.instruction {
	margin: 40px 30px;
}
p{
	color: #ffffff;
}

.board {
	height: 50%;
	width: 50%;
	display: inline-block;
	background-color: rgba(0,0,0,.9);
}
.card{
	height: 200px;
	width: 150px;
	border: 1px solid rgba(317,214,17,1);
	background-color: rgba(137,14,14,1);
	border-radius: 10px;
	display: block;
	float: left;
	margin: 8%;
}
footer {
	text-align: center;
	color: white;
	background-color: black;
	margin-top: 100px;
}
.name {
	color: rgba(255,175,0,.9);
}

